In [1]:
import pandas as pd

# schalchemy dependencies
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date

In [2]:
Base = declarative_base()

In [3]:
average_ridership = pd.read_csv("Data/overall_ridership_average.csv")
average_ridership.head()

                  STATION  RIDERS_PER_WEEKDAY
0            Addison Road         3330.172727
1               Anacostia         7126.998485
2  Archives-Navy Memorial         8937.077273
3      Arlington Cemetery         1295.293939
4                Ballston        11515.807576

In [4]:
ridership_total = pd.read_csv("Data/overall_ridership_total.csv")
ridership_total.head()

                  STATION  RIDERS_PER_WEEKDAY
0            Addison Road            219791.4
1               Anacostia            470381.9
2  Archives-Navy Memorial            589847.1
3      Arlington Cemetery             85489.4
4                Ballston            760043.3

In [5]:
timeperiod_average = pd.read_csv("Data/timeperiod_average.csv")
timeperiod_average

            PERIOD  RIDERS_PER_WEEKDAY
0          AM Peak         2614.038888
1          Evening          964.232848
2  Late Night Peak           32.575631
3           Midday         1564.745781
4          PM Peak         2852.668004

In [6]:
timeperiod_total = pd.read_csv("Data/timeperiod_total.csv")
timeperiod_total.head()

            PERIOD  RIDERS_PER_WEEKDAY
0          AM Peak          15137899.2
1          Evening           5568444.7
2  Late Night Peak            187016.7
3           Midday           9067701.8
4          PM Peak          16494126.4

In [7]:
class Average_Ridership(Base):
    __tablename__ = "average_ridership"
    id = Column(Integer, primary_key = True)
    STATION = Column(String(255))
    RIDERS_PER_WEEKDAY = Column(Float)

In [8]:
class Ridership_Total(Base):
    __tablename__ = "ridership_total"
    id = Column(Integer, primary_key = True)
    STATION = Column(String(255))
    RIDERS_PER_WEEKDAY = Column(Float)

In [9]:
class Timeperiod_Average(Base):
    __tablename__ = "timeperiod_average"
    id = Column(Integer, primary_key = True)
    PERIOD = Column(String(255))
    RIDERS_PER_WEEKDAY = Column(Float)

In [10]:
class Timeperiod_Total(Base):
    __tablename__ = "timeperiod_total"
    id = Column(Integer, primary_key = True)
    PERIOD = Column(String(255))
    RIDERS_PER_WEEKDAY = Column(Float)

In [11]:
engine = create_engine("sqlite:///metrostations.sqlite")

In [12]:
Base.metadata.create_all(engine)

In [13]:
average_ridership.to_sql("average_ridership", engine, if_exists='replace', index=False)

In [14]:
ridership_total.to_sql("ridership_total", engine, if_exists='replace', index=False)

In [15]:
timeperiod_average.to_sql("timeperiod_average", engine, if_exists='replace', index=False)

In [16]:
timeperiod_total.to_sql("timeperiod_total", engine, if_exists='replace', index=False)