In [1]:
import pandas as pd

# schalchemy dependencies
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

In [2]:
Base = declarative_base()

In [3]:
file = 'Avg-Weekday-Rail-Ridership-by-Month-by-Station-2010-to-20161.xlsx'

In [4]:
x1 = pd.ExcelFile(file)

In [5]:
print(x1.sheet_names)

['data', 'sql']

In [6]:
metro_ridership = x1.parse('data')
metro_ridership.head()

   DATEMONTHINT                 STATION  RIDERS_PER_WEEKDAY
0        201009            Addison Road              3667.3
1        201009               Anacostia              7290.0
2        201009  Archives-Navy Memorial              9094.8
3        201009      Arlington Cemetery              1110.9
4        201009                Ballston             12146.5

In [7]:
file_two = 'Avg-Weekday-Rail-Ridership-by-Month-by-Station-by-Period-2010-to-2016.xlsx'

In [8]:
x2 = pd.ExcelFile(file_two)

In [9]:
print(x2.sheet_names)

['Export Worksheet', 'SQL']

In [10]:
metro_timeperiod_ridership = x2.parse('Export Worksheet')
metro_timeperiod_ridership.head()

   DATEMONTHINT       STATION           PERIOD  RIDERS_PER_WEEKDAY
0        201009  Addison Road          AM Peak              2303.7
1        201009  Addison Road          Evening               211.0
2        201009  Addison Road  Late Night Peak                 5.1
3        201009  Addison Road           Midday               748.0
4        201009  Addison Road          PM Peak               399.6

In [11]:
class Metro_Riderhip(Base):
    __tablename__ = "metro_ridership"
    id = Column(Integer, primary_key = True)
    DATEMONTHINT = Column(Integer)
    STATION = Column(String(255))
    RIDERS_PER_WEEKDAY = Column(Float)

In [12]:
class Ridership_Timeperiod_Ridership(Base):
    __tablename__ = "metro_timeperiod_ridership"
    id = Column(Integer, primary_key = True)
    DATEMONTHINT = Column(Integer)
    STATION = Column(String(255))
    PERIOD = Column(String)
    RIDERS_PER_WEEKDAY = Column(Float)

In [13]:
engine = create_engine("sqlite:///metroridership.sqlite")

In [14]:
Base.metadata.create_all(engine)

In [15]:
metro_ridership.to_sql("metro_ridership", engine, if_exists='append', index=False)

In [16]:
metro_timeperiod_ridership.to_sql("metro_timeperiod_ridership", engine, if_exists='append', index=False)

In [17]:
engine.table_names()

['metro_ridership', 'metro_timeperiod_ridership']

In [19]:
engine.execute("SELECT * FROM metro_ridership LIMIT 1").fetchall()

[(1, 201009, 'Addison Road', 3667.3)]

In [20]:
engine.execute("SELECT * FROM metro_timeperiod_ridership LIMIT 1").fetchall()

[(1, 201009, 'Addison Road', 'AM Peak', 2303.7)]