In [1]:
import pandas as pd

In [2]:
average_ridership_df = pd.read_csv('../Data/overall_ridership_average.csv')
average_ridership_df.head()

                  STATION  RIDERS_PER_WEEKDAY
0            Addison Road         3330.172727
1               Anacostia         7126.998485
2  Archives-Navy Memorial         8937.077273
3      Arlington Cemetery         1295.293939
4                Ballston        11515.807576